prefer-no-csd // disables client-side decors

layout {
    gaps 8
    background-color "transparent"

    border {
        width 2
    }

    focus-ring {
        width 2
    }
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
    tiled-state true
    draw-border-with-background false

    background-effect {
        blur true // blur for transparent windows
        xray true // true -> static blur, more efficient
    }
}

blur {
    passes 3
    offset 4 // blur radius
    noise 0.04
    saturation 1.2
}

recent-windows {
    highlight {
        corner-radius 16
    }
}
